{% extends "base.html" %}
{% load static %}
{% load user_extras %}
{% block title %}Connexion{% endblock title %}
{% block content %}
<!-- Login form -->
<section class="page-section bg-moules" id="login">
	<div class="container">
		<div class="row mb-3">
			<h1 class="col text-white text-center">Connexion</h1>
		</div>
		<div class="row justify-content-center">
			<form method="post" action="{% url "user:login" %}" class="col-lg" novalidate>
				{% csrf_token %}
				<div class="form-group">
					{{ form.username.label_tag }}
					{{ form.username|add_css:"form-control" }}
					<div class="invalid-feedback {% if form.username.errors%}d-inline{% endif%}">
						{{ form.username.errors }}
					</div>
				</div>
				<div class="form-group">
					{{ form.password.label_tag }}
					{{ form.password|add_css:"form-control" }}
					<div class="invalid-feedback {% if form.password.errors%}d-inline{% endif%}">
						{{ form.password.errors }}
					</div>
				</div>
				<button type="submit" class="btn btn-primary">Se connecter</button>
			</form>
		</div>
	</div>
</section>
{% endblock content %}
