// Stylishing for the about section
#about {
  .avatar-about {
    text-align: center;
    img {
      height: 10rem;
    }
    figcaption {
      font-family: $headings-font-family;
      color: $secondary;
    }
  }
}
