.card.product {
  .nutriscore-grade {
    position: absolute;
    top: -1rem;
    right: -1rem;
    width: 2.5rem;
    height: 2.5rem;
    line-height: calc(2.5rem - 2px);
    border-radius: 50%;
    border: 2px solid white;
    font-size: 1.5rem;
    text-align: center;
    color: white;
    font-family: $font-family-sans-serif;
    font-weight: 900;
  }
  .nutriscore-grade.score-a {
    background-color: #038141;
  }
  .nutriscore-grade.score-b {
    background-color: #85bb2f;
  }
  .nutriscore-grade.score-c {
    background-color: #fecb02;
  }
  .nutriscore-grade.score-d {
    background-color: #ee8100;
  }
  .nutriscore-grade.score-e {
    background-color: #e63e11;
  }
  .card-body {
    img {
      object-fit: scale-down;
      max-width: 80%;
      max-height: 10rem;
    }
  }
}

#product_sheet {
  .btn-group.nutriscore {
    .btn {
      font-size: 1.5rem;
      padding: 0.5rem;
      z-index: 1;
    }
    .btn:first-child {
      border-radius: 15% 0 0 15%;
    }
    .btn:last-child {
      border-radius: 0 15% 15% 0;
    }
    .score-a {
      background-color: #038141;
      color: #63ad81;
    }
    .score-b {
      background-color: #85bb2f;
      color: #bcda8d;
    }
    .score-c {
      background-color: #fecb02;
      color: #fee171;
    }
    .score-d {
      background-color: #ee8100;
      color: #e65c07;
    }
    .score-e {
      background-color: #e63e11;
      color: #f19176;
    }
    .current {
      color: white;
      box-shadow: 0 0 0 0.3rem white;
      border-radius: 30% !important;
      font-weight: bolder;
      z-index: 7;
    }
  }
  .signal {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }
  .signal.green {
    background-color: #60f000;
  }
  .signal.yellow {
    background-color: #ffcc01;
  }
  .signal.red {
    background-color: #cfcffa;
  }
}
