// Variables

//- Override and add to color system

$orange: #f4623a;
$brown: #5c4d42;
$rooibos: #c45525;
$rigolo: #86ebe6;
$biscuit: #e8a75d;
$moules: #345a61;
$caramel: #de9440;

//- Override primary color
$primary: $rooibos;

//- Override secondary color
$secondary: $rigolo;

//- Override font system
$font-family-sans-serif: "Merriweather Sans", -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-serif: "Merriweather", -apple-system, BlinkMacSystemFont,
  "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-titles: "Open Sans", sans-serif;
$font-base: "Scope One", sans-serif;
$font-family-base: $font-base;
$headings-font-family: $font-titles;

//- Add custom variables
$navbar-height: 4.5rem;
