<div class="col my-3">
	<div class="card product bg-biscuit text-center">
		<h5 class="card-header font-weight-bold text-white">{{ product.name }}</h5>
		<div class="card-body bg-white">
			{% if product.image_url %}
			<img src="{{ product.image_small_url }}" alt="{{ product.name }}" class="card-img-top">
			{% else %}
			<img src="#" alt="{{ product.name }}" class="card-img-top">
			{% endif %}
		</div>
		<div class="card-footer">
			<a href="#" class="btn btn-primary">Choisir</a>
		</div>
	</div>
</div>
