{% load filters %}
<form method="post" action="{% url "search:get_product" %}" id="search_{{ type }}">
	{% csrf_token %}
	{% if type == "short" %}
	{{ product_search_form.name|add_attrs:"class=form-control d-none d-lg-block&autocomplete=off" }}
	{% else %}
	<div class="input-group">
		{{ product_search_form.name|add_attrs:"class=form-control&autocomplete=off" }}
		<div class="input-group-append">
			<input type="submit" class="btn btn-primary" value="Chercher">
		</div>
	</div>
	{% endif %}
	<ul id="results_{{ type }}" class="hidden"></ul>
</form>
