{% extends "base.html" %}
{% load static %}
{% load user_extras %}
{% block title %}Choisir un substitut{% endblock title %}
{% block header %}
<header class="masthead reduced"
	style="background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.3), rgba(0,0,0,0.7)), url({% if product.image_url %}{{ product.image_url }}{% else %}{% static "dist/assets/img/logo_pur_beurre.svg" %}{% endif %}) repeat-x; background-size: contain;">

	<div class="container">
		<div class="row text-center">
			<h1 class="col text-white font-weight-bold">
				{% if product %}
				Résultats pour "{{ product.name }}"
				{% else %}
				Pas de résultat
				{% endif %}
			</h1>
		</div>
	</div>
</header>
{% endblock header %}
{% block content %}
<!-- Choose a substitute -->
<div class="page-section bg-moules p-0" id="choose_substitute">
	<div class="container py-3">
		{% if substitutes %}
		<div class="row h-50 align-items-end text-center">
			<div class="col">
				<h2 class="text-white font-weight-bold">Vous pouvez remplacer cet aliment
					par :</h2>
				<hr class="divider my-4" />
			</div>
		</div>
		<div class="row row-cols-1 row-cols-sm-3 mx-2 mx-sm-0">
			{% for product in substitutes %}
			{% include "search/_product_card.html" %}
			{% endfor %}
		</div>
		<nav class="row" aria-label="Pagination substituts">
			<ul class="pagination mx-auto">
				<li class="page-item {% if not substitutes.has_previous %}disabled{% endif %}">
					{% if substitutes.has_previous %}
					<a href="{% url "search:find_substitutes" product.code substitutes.previous_page_number %}"
						title="Page précédente">
						<span class="page-link">&laquo;</span>
					</a>
					{% else %}
					<span class="page-link">&laquo;</span>
					{% endif %}
				</li>
				{% for i in substitutes.paginator.page_range %}
				{% if substitutes.number == i %}
				<li class="page-item active" aria-current="page">
					<span class="page-link">
						{{ i }}
						<span class="sr-only">(current)</span>
					</span>
				</li>
				{% else %}
				<li class="page-item">
					<a class="page-link" href="{% url "search:find_substitutes" product.code i %}">
						{{ i }}
					</a>
				</li>
				{% endif %}
				{% endfor %}

				<li class="page-item {% if not substitutes.has_next %}disabled{% endif %}">
					{% if substitutes.has_next %}
					<a href="{% url "search:find_substitutes" product.code substitutes.next_page_number %}"
						title="Page suivante">
						<span class="page-link">&raquo;</span>
					</a>
					{% else %}
					<span class="page-link">&raquo;</span>
					{% endif %}
				</li>
			</ul>
		</nav>
		{% else %}
		<h5 class="text-center text-white">Aucun substitut n'a était trouvé.</h5>
		<p class="text-center text-white">Faire une nouvelle recherche :</p>
		<div class="row text-center">
			<div class="col px-5">
				<form method="post" action="{% url "search:find" %}">
					{% csrf_token %}
					<div class="input-group">
						{{ product_search_form.name|add_css:"form-control" }}
						<div class="input-group-append">
							<input type="submit" class="btn btn-primary" value="Chercher">
						</div>
					</div>
				</form>
			</div>
		</div>
		{% endif %}
	</div>
</div>
{% endblock content %}
