{% extends "base.html" %}
{% load static %}
{% load user_extras %}
{% block title %}Inscription{% endblock title %}
{% block content %}
<!-- Signin form -->
<section class="page-section bg-moules" id="signup">
	<div class="container">
		<div class="row mb-3">
			<h1 class="col text-white text-center">Inscription</h1>
		</div>
		<div class="row justify-content-center">
			<form method="post" action="{% url "user:registration" %}" class="col-sm-8" novalidate>
				{% csrf_token %}
				<div class="form-row">
					<div class="form-group col">
						{{ form.first_name.label_tag }}*
						{{ form.first_name|add_css:"form-control" }}
						<div
							class="invalid-feedback {% if form.first_name.errors%}d-inline{% endif%}">
							{{ form.first_name.errors }}
						</div>
					</div>
					<div class="form-group col">
						{{ form.last_name.label_tag }}
						{{ form.last_name|add_css:"form-control" }}
						<div
							class="invalid-feedback {% if form.last_name.errors%}d-inline{% endif%}">
							{{ form.last_name.errors }}
						</div>
					</div>
				</div>
				<div class="form-group">
					{{ form.email.label_tag }}*
					{{ form.email|add_css:"form-control" }}
					<div class="invalid-feedback {% if form.email.errors%}d-inline{% endif%}">
						{{ form.email.errors }}
					</div>
				</div>
				<div class="form-group">
					{{ form.password1.label_tag }}*
					{{ form.password1|add_css:"form-control" }}
				</div>
				<div class="form-group">
					{{ form.password2.label_tag }}*
					{{ form.password2|add_css:"form-control" }}
					<div class="invalid-feedback {% if form.password1.errors%}d-inline{% endif%}">
						{{ form.password1.errors }}
					</div>
				</div>
				<button type="submit" class="btn btn-primary">S'inscrire</button>
				<p class="mt-3">Tous les champs marqués d'un * sont obligatoires</p>
			</form>
		</div>
	</div>
</section>
{% endblock content %}
