{% load static %}
<div class="col my-3">
	<div class="card product bg-biscuit text-center">
		<div class="nutriscore-grade score-{{ product.nutriscore_grade|lower }}">
			{{ product.nutriscore_grade }}
		</div>
		<a href="{% url "product:sheet" product.code %}" title="Voir la fiche">
			<div class="card-body">
				{% if product.image_url %}
				<img src="{{ product.image_small_url }}" alt="{{ product.name }}" class="card-img-top">
				{% else %}
				<img src="{% static "dist/assets/img/logo_pur_beurre.svg" %}" alt="{{ product.name }}"
					class="card-img-top">
				{% endif %}
			</div>
		</a>
		<div class="card-footer">
			<p class="text-white font-weight-bold">{{ product.name }}</p>
			<p>
				<a href="{% url "product:sheet" product.code %}?next={{ request.get_full_path }}"
					title="Voir la fiche" class="btn btn-primary">
					<i class="far fa-sticky-note fa-2x ml-1 align-middle"></i>
					<span>Voir la fiche</span>
				</a>
			</p>
			{% if save %}
			<p>
				<a href="{% url "product:save" substituted.code product.code %}?next={{ request.get_full_path }}"
					class="btn btn-primary">
					<i class="far fa-save fa-2x ml-1 align-middle"></i>
					<span>&nbsp;Sauvegarder</span>
				</a>
			</p>
			{% endif %}
		</div>
	</div>
</div>
