{% extends "base.html" %}
{% load static %}
{% load user_extras %}
{% block title %}Mes favoris{% endblock title %}
{% block header %}
<header class="masthead reduced">
	<div class="container">
		<div class="row text-center">
			<h1 class="col text-white font-weight-bold">
				Mes favoris
			</h1>
		</div>
	</div>
</header>
{% endblock header %}
{% block content %}
<!-- My favorites -->
<div class="page-section bg-moules p-0" id="favorites">
	<div class="container p-0 py-3">
		{% if favorites %}
		{% regroup favorites by product as favorites_by_product %}
		{% for substituted, favorites in favorites_by_product %}
		<p class="row">
			<button class="btn btn-primary" type="button" data-toggle="collapse"
				data-target="#collapse_{{ substituted.code }}" aria-expanded="true"
				aria-controls="collapse_{{ substituted.code }}">
				{{ substituted.name }}
			</button>
		</p>
		<div class="row row-cols-1 row-cols-sm-3 p-0 collapse show" id="collapse_{{ substituted.code }}">
			{% for favorite in favorites %}
			{% include "search/_product_card.html" with product=favorite.substitute %}
			{% endfor %}
		</div>
		{% endfor %}
		{% else %}
		<h2 class="text-white font-weight-bold text-center">Vous n'avez pas encore de favoris</h2>
		<p class="text-center text-white">Faire une recherche :</p>
		<div class="row text-center">
			<div class="col px-5">
				<form method="post" action="{% url "search:find" %}">
					{% csrf_token %}
					<div class="input-group">
						{{ product_search_form.name|add_css:"form-control" }}
						<div class="input-group-append">
							<input type="submit" class="btn btn-primary" value="Chercher">
						</div>
					</div>
				</form>
			</div>
		</div>
		{% endif %}
	</div>
</div>
{% endblock content %}
