{% extends "base.html" %}
{% load static %}
{% load user_extras %}
{% block title %}Mes favoris{% endblock title %}
{% block header %}
<header class="masthead reduced">
	<div class="container">
		<div class="row text-center">
			<h1 class="col text-white font-weight-bold">
				Mes favoris
			</h1>
		</div>
	</div>
</header>
{% endblock header %}
{% block content %}
<!-- My favorites -->
<div class="page-section bg-moules p-0" id="favorites">
	<div class="container py-3">
		{% if favorites %}
		{% for favorite in favorites %}
		<div class="row row-cols-1 row-cols-sm-2 mx-2 mx-sm-0">
			{% include "search/_product_card.html" with product=favorite.product %}
			{% include "search/_product_card.html" with product=favorite.substitute %}
		</div>
		{% endfor %}
		<nav class="row" aria-label="Pagination substituts">
			<ul class="pagination mx-auto">
				<li class="page-item {% if not substitutes.has_previous %}disabled{% endif %}">
					{% if substitutes.has_previous %}
					<a href="{% url "search:find_substitutes" product.code substitutes.previous_page_number %}"
						title="Page précédente">
						<span class="page-link">&laquo;</span>
					</a>
					{% else %}
					<span class="page-link">&laquo;</span>
					{% endif %}
				</li>
				{% for i in substitutes.paginator.page_range %}
				{% if substitutes.number == i %}
				<li class="page-item active" aria-current="page">
					<span class="page-link">
						{{ i }}
						<span class="sr-only">(current)</span>
					</span>
				</li>
				{% else %}
				<li class="page-item">
					<a class="page-link" href="{% url "search:find_substitutes" product.code i %}">
						{{ i }}
					</a>
				</li>
				{% endif %}
				{% endfor %}

				<li class="page-item {% if not substitutes.has_next %}disabled{% endif %}">
					{% if substitutes.has_next %}
					<a href="{% url "search:find_substitutes" product.code substitutes.next_page_number %}"
						title="Page suivante">
						<span class="page-link">&raquo;</span>
					</a>
					{% else %}
					<span class="page-link">&raquo;</span>
					{% endif %}
				</li>
			</ul>
		</nav>
		{% else %}
		No substitutes
		{% endif %}
	</div>
</div>
{% endblock content %}
