<!DOCTYPE html>
{% load static %}
{% load user_extras %}
<html lang="fr">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>{% block title %}{% endblock title %}</title>
	<!-- Favicon-->
	<link rel="apple-touch-icon" sizes="57x57" href="{% static "dist/assets/img/favicons/apple-icon-57x57.png" %}">
	<link rel="apple-touch-icon" sizes="60x60" href="{% static "dist/assets/img/favicons/apple-icon-60x60.png" %}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static "dist/assets/img/favicons/apple-icon-72x72.png" %}">
	<link rel="apple-touch-icon" sizes="76x76" href="{% static "dist/assets/img/favicons/apple-icon-76x76.png" %}">
	<link rel="apple-touch-icon" sizes="114x114"
		href="{% static "dist/assets/img/favicons/apple-icon-114x114.png" %}">
	<link rel="apple-touch-icon" sizes="120x120"
		href="{% static "dist/assets/img/favicons/apple-icon-120x120.png" %}">
	<link rel="apple-touch-icon" sizes="144x144"
		href="{% static "dist/assets/img/favicons/apple-icon-144x144.png" %}">
	<link rel="apple-touch-icon" sizes="152x152"
		href="{% static "dist/assets/img/favicons/apple-icon-152x152.png" %}">
	<link rel="apple-touch-icon" sizes="180x180"
		href="{% static "dist/assets/img/favicons/apple-icon-180x180.png" %}">
	<link rel="icon" type="image/png" sizes="192x192"
		href="{% static "dist/assets/img/favicons/android-icon-192x192.png" %}">
	<link rel="icon" type="image/png" sizes="32x32"
		href="{% static "dist/assets/img/favicons/favicon-32x32.png" %}">
	<link rel="icon" type="image/png" sizes="96x96"
		href="{% static "dist/assets/img/favicons/favicon-96x96.png" %}">
	<link rel="icon" type="image/png" sizes="16x16"
		href="{% static "dist/assets/img/favicons/favicon-16x16.png" %}">
	<link rel="manifest" href="{% static "dist/assets/img/favicons/manifest.json" %}">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="{% static "dist/assets/img/favicons/ms-icon-144x144.png" %}">
	<meta name="theme-color" content="#ffffff">
	<!-- Font Awesome icons (free version)-->
	<script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
	<!-- Google fonts-->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
	<link href="http://fonts.googleapis.com/css?family=Scope+One" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
		rel="stylesheet" type="text/css" />
	<!-- Third party plugin CSS-->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css"
		rel="stylesheet" />
	<!-- Core theme CSS (includes Bootstrap)-->
	<link href="{% static "dist/css/styles.css" %}" rel="stylesheet" />
</head>

<body id="page-top">
	<!-- Navigation-->
	{% block nav %}
	<nav class="navbar navbar-expand-lg navbar-light fixed-top py-1" id="mainNav">
		<a class="navbar-brand js-scroll-trigger flex-grow-1" href="{% url "homepage:index" %}#page-top">
			<img class="navbar-logo d-inline-block align-middle" load="lazy"
				src="{% static "dist/assets/img/logo_pur_beurre.svg" %}" alt="Logo Pur Beurre">
			Pur Beurre
		</a>
		<form method="post" action="{% url "search:find" %}">
			{% csrf_token %}
			{{ product_search_form.name|add_css:"form-control d-none d-lg-block" }}
		</form>
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
			data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse text-right" id="navbarResponsive">
			<ul class="navbar-nav ml-auto pr-2 my-2">
				{% if user.is_authenticated %}
				<li class="nav-item">
					<a class="nav-link" title="Mon compte" href="{% url "users:account" %}">
						<span class="d-lg-none">Mon compte</span>
						<i class="far fa-user fa-2x ml-1 align-middle"></i>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" title="Mes aliments" href="#">
						<span class="d-lg-none">Mes aliments</span>
						<i class="fas fa-carrot fa-2x ml-1 align-middle"></i>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" title="Me déconnecter" href="{% url "users:logout" %}">
						<span class="d-lg-none">Me déconnecter</span>
						<i class="fas fa-sign-out-alt fa-2x ml-1 align-middle"></i>
					</a>
				</li>
				{% else %}
				<li class="nav-item">
					<a class="nav-link" title="Me connecter" href="{% url "users:login" %}">
						<span class="d-lg-none">Me connecter</span>
						<i class="fas fa-sign-in-alt fa-2x ml-1 align-middle"></i>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" title="M'enregistrer" href="{% url "users:registration" %}">
						<span class="d-lg-none">M'enregistrer</span>
						<i class="fas fa-user-plus fa-2x ml-1 align-middle"></i>
					</a>
				</li>
				{% endif %}
			</ul>
		</div>
	</nav>
	{% endblock nav %}
	{% if messages %}
	<div class="alerts-container fixed-top mt-3 mx-auto col-10">
		{% for message in messages %}
		<div class="alert {% if message.tags == "success" %}alert-success{% else %}alert-danger{% endif %} alert-dismissible fade show"
			role="alert">
			{{ message }}
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
		</div>
		{% endfor %}
	</div>
	{% endif %}
	<!-- Header -->
	{% block header %}
	{% endblock header %}
	<!-- Content -->
	{% block content %}
	{% endblock content %}
	<!-- Footer-->
	{% block footer %}
	<footer class="bg-biscuit">
		<div class="container">
			<div class="row align-items-center justify-content-around">
				<div class="col text-center">
					<a href="#">Mentions légales</a>
				</div>
				<div class="col text-center">
					<a href="{% url "homepage:index" %}#contact">Contact</a>
				</div>
			</div>
		</div>
	</footer>
	{% endblock footer %}
	<!-- Bootstrap core JS-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
	<!-- Third party plugin JS-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>
	<!-- Core theme JS-->
	<script src="{% static "dist/js/scripts.js" %}"></script>
</body>

</html>
